requests==2.31.0
requests-auth-aws-sigv4==0.7.0
beautifulsoup4==4.12.3
python-dotenv==1.0.1
fake-useragent==1.4.0
schedule==1.2.1
edge-tts==6.1.19
gTTS==2.5.1
Pillow==10.2.0
gradio_client==1.5.3
replicate==0.25.1
langextract==1.1.1
selenium==4.18.1
webdriver-manager==4.0.1
moviepy==1.0.3
numpy
